<h4>Job Form</h4>
<form action="/job/add" method="post">
  <div class="mb-2">
    <label>Title</label><br>
    <input type="text" required name="title" placeholder="Data Scienctist"">
  </div>

  <div class=" mb-2">
    <label>Location</label><br>
    <input type="text" required name="location" placeholder="bkk">
  </div>

  <div class="mb-2">
    <label>Salary</label><br>
    <input type="number" name="salary" placeholder="80000">
  </div>

  <div class="mb-2">
    <label>Currency</label><br>
    <input type="text" name="currency" placeholder="baht">
  </div>

  <div class="mb-2">
    <label>Responsibilities</label><br>
    <textarea name="responsibilities"></textarea>
  </div>

  <div class="mb-2">
    <label>Requirements</label><br>
    <textarea name="requirements"></textarea>
  </div>

  <input type="submit">
</form>